body {
    background: url("../img/bg/black.png") no-repeat fixed;
    background-position: center center;
    background-size: cover;
}

.nav-btn {
    color: var(--white);
} .nav-btn:hover {
    color: var(--black);
}

main {
    justify-content: flex-end;
}

#about-box {
    background-color: var(--black-alpha3);
    padding: 2rem;
    border-radius: 2rem;
    backdrop-filter: blur(1rem);
    --webkit-backdrop-filter: blur(1rem);
    color: var(--white);
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    gap: 1rem;
}

#about-hdg {
    font-size: 2rem;
    font-weight: 700;
    align-items: center;
    text-wrap: nowrap;
    gap: 1rem;
}

#about-hdg img {
    max-height: 1.5rem;
}

#about-body {
    max-width: 30rem;
    gap: 0.5rem;
}

#about-body a {
    color: var(--primary-light);
    font-weight: 600;
} #about-body a:hover {
    color: var(--primary);
}

#collage {
    gap: 1rem;
    align-items: flex-end;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.collage-row {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
} .collage-row img {
    max-width: 16rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    cursor: pointer;
} .collage-row img:hover {
    opacity: 0.5;
}

.collage-row-even {
    margin-right: -9rem;
}

@media only screen and (max-width: 1250px) {
    #about-box {
        right: 2rem;
    }

    #about-hdg {
        display: none;
    }
}