:root {
    --white-alpha: #fbfafa77;
    --white-alpha2: #fbfafa1c;
    --white: #fbfafa;
    --black: #171717;
    --black-alpha: #17171717;
    --black-alpha2: #1717175d;
    --gray: #2F2F2F;
    --gray-light: #434343;
    --primary: #c13541;
    --primary-light: #ff5b68;
    --primary-dark: #660e16;
    --bg: #ebe7e3;
}