body {
    background: url("../img/bg/dark-red.png") no-repeat fixed;
    background-position: center center;
    background-size: cover;
}

main {
    align-items: center;
    justify-content: center;
}

.nav-btn {
    color: var(--white);
} .nav-btn:hover {
    color: var(--black);
}

#coming-soon-txt {
    height: 2rem;
    opacity: 0.5;
}

@media only screen and (max-width: 500px) {
    #coming-soon-txt {
        width: 100%;
        padding: 0 1rem;
        opacity: 0.5;
    }
}